

.title {
    font-size: 16pt;
    font-family: Arial;
    color: blue;
    font-style: italic;
}

.container{
    width: 600px;
    height: 280px;
    border: 2px solid blue;
    padding: 5px;
    background-color: #f0f0f0;
}

.child1{
    background-color: yellow;
    float: left;
    width: 200px;
    padding: 10px;
    margin-right: 0 10px 0 0;
}


.child3 {
    background-color: orange;
    position: absolute;
    left: 110px;
    top:200px;
    width: 200px;
    padding: 10px;
}

.child4 {
background-color: rgb(255, 80, 0);
color: white;
float: right;
width: 200px;
padding: 10px;
margin-right: 40px;
margin-top: 20px;
}